[simulation]
contiglen=10000
loci=2
recombination_rate=1E-8
mutation_rate=2.8E-9
effective_population_size=1000000

[initialize]
# fun,like,van,long,par
# current Ne from msmc2, or N0 = N1/exp(-growth * time)
initial_sizes=1145401,107992,35054,66333,44237
# diploid sample sizes
sample_sizes=30,10,20,20,20
# alpha = -(1/gens) * log(N1/N0)
growth_rates=0,0,-8.523957E-5,-7.372136E-5,-4.156788E-5
migration_matrix=migration_mat.txt
# constants
mMax=0
mIso=0

[parameters]
theta_distribution=pi.dist.txt
rho_distribution=rho.dist.txt 
params=model1.txt
